[Unit]
Description=Set the Raspberry Pi hostname
DefaultDependencies=no
Wants=network-pre.target
Before=network-pre.target
After=systemd-remount-fs.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/rpi-hostname set

[Install]
WantedBy=multi-user.target
